#search{
    margin-left:3%;
    width:1200px;
}

#comp2 {
    background:transparent;
    height: 500px;
    padding: 3%;
    left: 0;
    top: 0;
  }

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color:black;
    font-size:30px;
}

#results {
    margin-top: 3%;
    margin-bottom: 5%;
    margin-right: 0;
    max-width:1300px;
    height: 300px;
    font-size: 15px;
    color:#2f3847;
    padding: 0;
}


#repoList {
    margin:0;
    padding:0;
}

#repos {
    max-width:400px;
    max-height: 290px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

#trends {
    max-width:900px;
    max-height: 390px;
    overflow-x:scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
}

h4 {
    margin-top: 2%;
}

.profilestyle {
    height:200px;
    width:50%;
    margin:0;
}

#profiledetails {
    padding:5%;
    width: 50%;
    background-color: #ed5acf;
}

#profilestats {
    background-color: #5aedb2;
    color:#2f3847;
    max-width:750px;
    margin: 0;
    padding-top:1%;
}

.thenumbers {
    font-size: 30px;
}

#contacts {
    background-color: #ed5acf;
    height:290px;
    padding:0;
    margin: 0;
    width:5px;
}

.contactinfo {
    height:25%;
    margin:1%;
    text-align: center;
}