<div class="wrapper">
  <div class="container-fluid">
      <div class="col-md-9">
          <form class="row" id="search" (ngSubmit)='submitSearch()' #searchForm='ngForm'>
              <div class="col-md-8">
                  <input type="text" class="form-control" placeholder="search user" style="margin-top:2%;font-size:20px;" id="username" [(ngModel)]="username" name="username">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-success btn-rounded">Search</button>
                </div>
          </form>
        <h5 style="color:white;margin-left:10%;margin-top:3%;">Search Found</h5>
        <div class="row" id ="results" *ngFor='let user of users; let i=index'>
          <div class="col-md-9">
            <div class="row" style="margin: 0;">
              <div class="col-md-6" class="profilestyle" id="profiledetails">  
                  <h2>{{user.name}}</h2>
                  <p>@{{user.login}}</p>
                  <p>{{user.company}}</p>
              </div>
              <div class="col-md-6" class="profilestyle" style="margin: 0;padding: 0;">
                  <img src="{{user.avatarUrl}}" style="height:200px;width:300px;margin:0;">
              </div>
            </div>
            <div class="row"  id="profilestats">
                <div class="col-md-4" style="text-align: center;">
                    <i class="fas fa-users">Followers</i>
                    <p class="thenumbers">{{user.followers}}</p>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <i class="fas fa-users">Following</i>
                    <p class="thenumbers">{{user.following}}</p>
                </div>
                <div class="col-md-4" style="text-align: center;">
                    <i class="fas fa-tasks">Repositories</i>
                    <p class="thenumbers">{{user.public_repos}}</p>    
                </div>
          </div>
          </div>
          <div class="col-md-3" id="contacts">
            <i class="far fa-envelope"></i>
          </div>
        </div>
        <div class="row">
          
        </div>
      <div class="col-md-3">
        
        </div>
    </div>
</div>


