<div class="container">
  <div class="row" id="search">
      <div class="col-md-8" >
          <input type="text" class="form-control" placeholder="search user" style="margin-top:1%;font-size:15px;">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0 btn-rounded">Search</button>
        </div>
  </div>
  <h4>Results</h4>
  <div class="row" id ="results" *ngFor='let user of users; let i=index'>
    <div class="col-md-2">
        <img src="{{user.avatarUrl}}" style="height:150px;width:150px;">
        <p style="font-size: 20px; margin-top:5%;">{{user.name}}</p>
    </div>
    <div class="col-md-8" *ngFor='let repository of repositories; let i=index'>
        <p>{{repository.name}} {{repository.description}} {{repository.repoUrl}}</p>
    </div>
  </div>
</div>
        

