.container {
    color:white;
}

#search{
    margin-top:10%;
    margin-left: 10%;
}

a {
    color: white;
    text-decoration: underline;
}

#results {
    margin-top: 2%;
}

h4 {
    margin-top: 2%;
}

.card {
    background: transparent;
    border: solid;
}