<div id="component" style="color: honeydew; height:700px;">
        <div class="wrapper" style="margin-left:1%;text-align:center;">
        <div style="margin-top:10%;">
            <h1>Sorry We can't find the page you are looking for
                <i class="far fa-frown" style="font-size:34px;"></i>
            </h1>     
        </div>
        <div>
            <a routerLink='/home'>
                <h2> Go back to the main page </h2>
                <img src="assets/images/K.png" style="z-index:7;">
            </a>
    </div>
</div>
</div>
