<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Rubik:400,700" rel="stylesheet">
<div class="wrapper-view">
    <nav class="navbar fixed-top navbar-expand-lg" id="mynav">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link">About Us</a>
            </li>
          </ul>
            <img src="/" id="profpic">
            <p></p>
        </div>
      </nav>
      <div class="component" id="comp2">
          <app-github-search></app-github-search>
      </div>
</div>

<router-outlet></router-outlet>
