.wrapper-view{
    font-family: 'Josefin Sans', sans-serif;
    background-color:#2f3847;
    color:white;
}

#mynav {
    font-size: 20px;
    color: white;
    padding-left: 5%;
    height:70px;
    margin: 0;
    background-color:#2f3847;
    }

a {
    margin-right: 1%;
    width: 200px;
    height: 66px;
}

#profpic {
    height: 50px;
    width: 50px;
}

.component {
    width: 1366px;
    left: 0;
    top: 0;
}

#comp2 {
    width: 1366px;
    left: 0;
    top: 0;
  }

  #comp3 {
    width: 1366px;
    left: 0;
    top: 0;
  }

#comp1 {
    width: 1366px;
    height: 768px;
    left: 0;
    top: 0;
    margin:0;
    padding: 0;
}