<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">
<div class="wrapper-view" style="overflow-x:hidden;">
    <nav class="navbar navbar-expand-lg" id="mynav">
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Profile</a>
            </li>
            <li class="nav-item">
              <a  class="nav-link">About Us</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="wrapper-view">
          <div class="component" id="comp3">
              <app-profile></app-profile>
            </div>
            <div id="comp2" style="padding:0;margin-bottom:10%;margin-top:0;">
              <app-github-search></app-github-search>
          </div>
          <div class="component">
            <app-about></app-about>
          </div>
          <div class="component" style="color: honeydew; height:768px;">
              <app-not-found></app-not-found>
          </div>
    </div>
</div>
<router-outlet></router-outlet>
