.wrapper-view{
    font-family: 'Josefin Sans', sans-serif;
}

#mynav {
font-size: 20px;
color: white;
padding-left: 20%;
position: fixed;
margin: 0;
background-color: #f77f2e;
}


a {
    margin: 1%;
    width: 200px;
    height: 66px;
}

#profpic {
    height: 50px;
    width: 50px;
}

.component {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#comp2 {
    background-color:#2f3847;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

#comp1 {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(2, 2, 2, 0.5);
    z-index: 3;
}

#intermediary {
    background-image: url("src/assets/images/bg1.jpg");
    z-index: 2;
}