.wrapper-view{
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    margin: 0;
    position: fixed;
    background-color: #f45942;
}

#mynav {
    width:1366px;
    font-size: 25px;
    background: transparent;
    padding-top:1%;
    }

a{
    color:white;
}

li {
    margin-top: 2%;
    margin-right: 1%;
    width: 200px;
    height: 66px;
}

#profpic {
    height: 50px;
    width: 50px;
}

#stuck{
    height: 768px;
    padding-top:1%;
}

#comp1 {
    height: 700px;
    left: 0;
    top: 0;
    margin:0;
    padding: 0;
}