a {
    color: white;
    text-decoration: underline;
}

#results {
    margin-top: 3%;
    margin-left:5%;
    max-width:900px;
    height: 300px;
    font-size: 15px;
    color:#2f3847;
    padding: 0;
}


#repoList {
    margin:0;
    padding:0;
}

#repos {
    max-width:400px;
    max-height: 290px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

h4 {
    margin-top: 2%;
}

.profilestyle {
    height:200px;
    width:50%;
    margin:0;
}

#profiledetails {
    padding:5%;
    width: 50%;
    background-color: #80c926;
}

#profilestats {
    background-color: #0b1c38;
    color:orange;
    max-width:750px;
    margin: 0;
    padding-top:1%;
}

.thenumbers {
    font-size: 30px;
}

#contacts {
    background-color: #f77f2e;
    height:290px;
    padding:0;
    margin: 0;
    width:5px;
}

.contactinfo {
    height:25%;
    margin:1%;
    text-align: center;
}