a {
    color: black;
}

a:hover {
    font-size:30px;
    color:white;
}

#results {
    max-width:1300px;
    font-size: 15px;
    color:#2f3847;
    padding: 0;
}

.component {
    left: 0;
    top: 0;
}

  #comp3 {
    height: 500px;
    padding: 4%;
    background:transparent;
    left: 0;
    top: 0;
  }


#repoList {
    margin:0;
    padding:0;
    font-size:20px;
}

#repos {
    max-width:400px;
    max-height: 400px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}

h4 {
    margin-top: 2%;
}

.profilestyle {
    height:300px;
    width:50%;
    margin:0;
}

#profiledetails {
    padding:5%;
    width: 50%;
    color:white;
    background-color: #f4a041;
}

#profilestats {
    color: #0b1c38;
    background-color: #41f4d6;
    height:100px;
    max-width:750px;
    margin: 0;
    padding-top:1%;
}

.thenumbers {
    font-size: 40px;
}

#contacts {
    background-color: #a142f4;
    height:400px;
    padding:0;
    margin: 0;
    width:5px;
}

.contactinfo {
    height:25%;
    margin-top:5%;
    text-align: center;
}