<div class="row" id ="results" *ngFor='let user of users; let i=index'>
  <div class="col-md-7" style="margin:0;padding:0;">
    <div class="row" style="margin: 0;padding: 0;">
      <div class="col-md-6" class="profilestyle" id="profiledetails">  
          <h2 style="margin-top: 10%;">{{user.name}}</h2>
          <p>@{{user.login}}</p>
          <p>{{user.company}}</p>
      </div>
      <div class="col-md-6" class="profilestyle" style="margin: 0;padding: 0;">
          <img src="{{user.avatarUrl}}" style="height:200px;width:100%;margin:0;">
      </div>
    </div>
    <div class="row"  id="profilestats">
        <div class="col-md-4" style="text-align: center;">
            <i class="fas fa-users">Followers</i>
            <p class="thenumbers">{{user.followers}}</p>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <i class="fas fa-users">Following</i>
            <p class="thenumbers">{{user.following}}</p>
        </div>
        <div class="col-md-4" style="text-align: center;">
            <i class="fas fa-tasks">Repositories</i>
            <p class="thenumbers">{{user.public_repos}}</p>    
        </div>
  </div>
  </div>
  <div class="col-md-1" id="contacts">
    <div class="contactinfo">
      <a href={{user.html_url}} class="fab fa-github" style="font-size:30px;color: #2f3847;"></a>
    </div>
    <div class="contactinfo">
      <a href={{user.email}} class="far fa-envelope" style="font-size:30px;color: #2f3847;"></a>
    </div>
    <div class="contactinfo">
        <a href="/"class="fas fa-tasks" style="font-size:30px;color: #2f3847;"></a>
    </div>
    <div class="contactinfo">
      <i class="far fa-bell" style="font-size:30px;color: #2f3847;"></i>
    </div>
  </div>
  <div class="col-md-4" id="repoList">
    <div style="margin-top:0;" id="repos">
    <div class="list-group" >
      <li class="list-group-item" style="background-color:#0b1c38;font-size:20px;color:white;">My repositories</li>
      <div *ngFor='let repository of repositories; let i=index;'> 
      <a href="{{repository.repoUrl}}" *ngIf='i%2!==0' style="background-color: grey;" class="list-group-item list-group-item-action">
        {{repository.name}}
      </a>
      <a href="{{repository.repoUrl}}"  *ngIf='i%2===0' style="background-color: #f77f2e;" class="list-group-item list-group-item-action">
        {{repository.name}}
      </a>
      </div>
    </div>
    </div>
    </div>
</div>
